red1{color:red;}
c1{
    color:black;
    background-color:white;
}
c2{
    color:black;
    background-color:white;
}
c3{
    color:black;
    background-color:white;
}
c4{
    color:black;
    background-color:white;
}
c5{
    color:black;
    background-color:white;
}
c6{
    color:black;
    background-color:white;
}
c7{
    color:black;
    background-color:white;
}
c8{
    color:black;
    background-color:white;
}
c9{
    color:black;
    background-color:white;
}
c10{
    color:black;
    background-color:white;
}
c11{
    color:black;
    background-color:white;
}
c12{
    color:black;
    background-color:white;
}
c13{
    color:black;
    background-color:white;
}
c14{
    color:black;
    background-color:white;
}
c15{
    color:black;
    background-color:white;
}
c16{
    color:black;
    background-color:white;
}
