red1{color:red;}
c1{
    color:black;
    background-color:gray;
}
c2{
    color:gray;
    background-color:white;
}
c3{
    color:white;
    background-color:blue;
}
c4{
    color:blue;
    background-color:navy;
}
c5{
    color:navy;
    background-color:teal;
}
c6{
    color:teal;
    background-color:green;
}
c7{
    color:green;
    background-color:lime;
}
c8{
    color:lime;
    background-color:aqua;
}
c9{
    color:aqua;
    background-color:yellow;
}
c10{
    color:yellow;
    background-color:red;
}
c11{
    color:red;
    background-color:fuchsia;
}
c12{
    color:fuchsia;
    background-color:olive;
}
c13{
    color:olive;
    background-color:purple;
}
c14{
    color:purple;
    background-color:maroon;
}
c15{
    color:maroon;
    background-color:silver;
}
c16{
    color:silver;
    background-color:black;
}
